.container{
    display: grid;
    grid-template-columns: repeat(1, 1fr) repeat(1, 6fr);
    grid-template-rows: repeat(1, 1fr) repeat(1, 3fr);
    grid-template-areas: 
                         "dashboard nav"
                         "dashboard content";
}
.dashboard{
    background-color: blue;
    color: white;
    grid-area: dashboard;
}
.nav{
    background-color: brown;
    grid-area: nav;
}
.content{
    background-color: rgb(187, 186, 186);
    padding: 10px;
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(1, 4fr) repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr) repeat(1, 4fr) repeat(1, 1fr) repeat(1, 4fr);
    grid-template-areas: 
                        "contentTitle annTitle"
                        "articles announcements"
                        "articles trendTitle"
                        "articles trend";
    gap: 10px;
}
.cTitle{
    grid-area: contentTitle;
}
.aTitle{
    grid-area: annTitle;
}
.articles{
    grid-area: articles;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
.cards{
    background-color: white;
    border-left: 5px solid orange ;
    border-radius: 5px;
}
.announcements{
    background-color: white;
    grid-area: announcements;
    display: flex;
    flex-direction: column;
    
}
.newsCard{
 
}
.tTitle{
    grid-area: trendTitle;
}
.trend{
    background-color: aliceblue;
    grid-area: trend;
}
