.container{
    display: grid;
    grid-template-columns: repeat(1, 1fr) repeat(1, 6fr);
    grid-template-rows: repeat(1, 1fr) repeat(1, 3fr);
    grid-template-areas: 
                         "dashboard nav"
                         "dashboard content";
}
/*dashboard begins*/
.dashboard{
    background-color: blue;
    color: white;
    grid-area: dashboard;
}
.dashTopContainer{

}
.dashBotomContainer{
    
}
/*dashboard ends*/

/*navigation board begins*/
.nav{
    background-color: white;
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr) repeat(1, 2fr);
    grid-template-areas: 
                        "search settings"
                        "welcome post";
}
.searchBar{
    grid-area: search;
}
.welcomeMsg{
    grid-area: welcome;
}
.settings{
    grid-area: settings;
}
.post{
    grid-area: post;
}

/*navigation board ends*/

/*content board begins*/
.content{
    background-color: rgb(187, 186, 186);
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(1, 4fr) repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr) repeat(1, 4fr) repeat(1, 1fr) repeat(1, 4fr);
    grid-template-areas: 
                        "contentTitle annTitle"
                        "articles announcements"
                        "articles trendTitle"
                        "articles trend";
}
.cTitle{
    grid-area: contentTitle;
}
.aTitle{
    grid-area: annTitle;
}
.articles{
    grid-area: articles;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.cards{
    background-color: white;
    border-left: 5px solid orange ;
    border-radius: 5px;
    height: 200px;
}
.announcements{
    background-color: white;
    border-radius: 5px;
    grid-area: announcements;
    display: flex;
    flex-direction: column;
}
.newsCard{
 
}
.tTitle{
    grid-area: trendTitle;
}
.trend{
    background-color: aliceblue;
    border-radius: 5px;
    grid-area: trend;
}
/*content board end*/